<p id="notice"><%= notice %></p>

<div class="article"
<!-- 親記事 -->
<div class="article-parent">
  <h2><%= @article.title %></h2>
  <div class="article-header">
    <%= @article.user.l_name %>
    <%= @article.user.f_name %>
    <%= @article.qualification.name %>
  </div>
  <div class="article-content">
    <%= @article.content %>
  </div>
</div>
<!-- /親記事 -->

<!-- 記事に対するレスポンス -->
<% @article.responses.each do |response| %>
<div class="article-child">
  <h3><%= response.title %></h3>
  <%= response.user.l_name %>
  <%= response.user.f_name %>
  <%= response.content %>
</div>
<% end %>
<!-- /記事に対するレスポンス -->
</div>

<%= render 'response' %>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<style type="text/css">
.article {
}
.article-parent {
}
.article-child {
}
.article-header {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}
</style>
