<p id="notice"><%= notice %></p>

<h2><%= @article.title %></h2>
<p>
  <b>名前:</b>
  <%= @article.user.l_name %>
</p>

<p>
  <b>資格:</b>
  <%= @article.qualification_id %>
</p>

<p>
  <%= @article.content %>
</p>

<% @article.responses.each do |response| %>

  <h3><%= response.title %></h3>
  <%= response.user.l_name %>
  <%= response.user.f_name %>
  <%= response.content %>
<% end %>

<%= render 'response' %>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
