<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qualification.name %>
</p>

<p>
  <b>Grade:</b>
  <%= @qualification.grade %>
</p>

<p>
  <b>Details:</b>
  <%= @qualification.details %>
</p>


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
